// SCSS. FILE FRO REGION SELECT
.select_region {
  // border: 1px solid grey;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 5px grey;
  border-radius: 5px;
  font-size: 19px;
  padding: 5px;
  padding-top: 10px;
  font-weight: 600;
  margin-left: 20px;
  width: 200px;
  height: 50px;
}
